.row {
    display: flex;
    justify-content: space-around;
}
.column input {
    border-radius: 3px;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid rgba(0,0,0,.43);
    font-size: 16px;
    width: 80%;
}
.column {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
.avatar {
    width: 150px;
    border-radius: 50%;
}
.reset {
    border: none;
    background: transparent;
    color: #d0021b;
    display: block;
    width: 100%;
    text-align: center;
}